# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
GEMINI_API_KEY=

# e2Payments Configuration
E2PAYMENTS_CLIENT_ID=
E2PAYMENTS_CLIENT_SECRET=
E2PAYMENTS_WALLET_ID= # Ex: 243004
E2PAYMENTS_EMOLA_WALLET_ID=
E2PAYMENTS_MPESA_WALLET_ID=
E2PAYMENTS_MKESH_WALLET_ID=
E2PAYMENTS_CALLBACK_URL=https://ais-pre-wuw6fehki57etwrgc2cg65-68101271483.us-west2.run.app/webhook
VITE_API_URL=
