# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
GEMINI_API_KEY=

# Paysuite Configuration
PAYSUITE_API_KEY=
PAYSUITE_WEBHOOK_SECRET=whsec_1bb6943a3083d9e1d53b4973f44d4c8793b9d4883df25ca6
PAYSUITE_CALLBACK_URL=
